body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg_header: rgba(0, 0, 0, 1);
    --bg_footer: rgba(0, 67, 156, 1);
    --bg_gray_dark: rgba(31, 31, 31, 1);
    --bg_button_blue: rgba(45, 100, 230, 1);
    --text_azul: rgba(48, 141, 215, 1);
    --button_grayDark: rgba(54, 54, 54, 1);
    --text_gray: rgba(131, 131, 131, 1);
    --bg_playPlus: rgba(190, 188, 187, 1);
    --button_orange: rgba(204, 60, 15, 1);
    --button_grayLight: rgba(217, 218, 220, 1);
}

.text_colorBlue{
    color: var(--text_azul);
}

.text_colorGray{
    color: var(--text_gray);
}

.button_blue{
    background-color: var(--bg_button_blue);
}

.button_orange{
    background-color: var(--button_orange);
}

.bg_nuoveUscite{
    background-color: var(--bg_gray_dark);
}
/* Header */

.sony{
    background-color: var(--bg_header);
    height: 43px;
}

/* Inizio main */




.itTakesTwo_bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 740px;
    background-position: center;
    background-size: cover;
    
}



.height_jumbo{
    height: 704px;
    background-color: black;
}



.height_ps4{
    height: 869px;
    background-color: white;
}

.height_psPlus{
    height: 481px;
    background-color: gray;
}

.height_psStore{
    height: 810px;
    background-color: white;
}

.height_psNow{
    height: 552px;
    background-color: blue;
}

.height_social{
    height: 478px;
    background-color: white;
}


.radius_card{
    border-radius: 20px;
}

/* .big_container{
    width: 98%;
    background-color: red;
    margin: 0 auto;
} */

/* inizio footer */

.height_footer{
    height: 658px;
    background-color: blue;
}

